@use '../styles/variables' as *;

.protected-route-loading {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-lg;

  .spinner {
    border: 3px solid $bg-secondary;
    border-top: 3px solid $primary;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  p {
    color: $text-secondary;
    font-size: $font-size-base;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
