@use './styles/variables' as *;
@use './styles/responsive' as *;

.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "navbar"
    "content";

  @include desktop {
    grid-template-columns: 260px 1fr;
    grid-template-areas: "navbar content";
  }

  &__navbar {
    grid-area: navbar;
  }

  &__content {
    grid-area: content;
    min-height: 100vh;
    overflow-x: hidden;
  }
}
